<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806777259833-2bmavlvcc8gi1t3em3o253dpfb16duvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806777259833-2bmavlvcc8gi1t3em3o253dpfb16duvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCbzfdQ5CrgFMWc3NwywygdfbL2K4PrWKw</string>
	<key>GCM_SENDER_ID</key>
	<string>806777259833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coachingApp1-stg</string>
	<key>PROJECT_ID</key>
	<string>coachingapp1-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>coachingapp1-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:806777259833:ios:5fc6b3d773e00fc67a4ae8</string>
	<key>DATABASE_URL</key>
	<string>https://coachingapp1-stg-default-rtdb.firebaseio.com</string>
</dict>
</plist>
